*~
.DS_Store
*.
# Eclipse Files
.settings
target
.classpath
.project
# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea Files
*.iml
.idea/*
bower_components
rebel.xml
mybatis-plus-config.xml
workspace.xml

#libs not ignore
!libs/*